.games-choice {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 2%;
    color:#4B515D;
    font-size: 3vw;
}

.games-img {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 2%;
}

.games-img img {
    width: 25vw;
    padding: 2%
}
