.paddle-board--container {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-top: 2%;
  margin-bottom: 1%;
  color: #4B515D;
  font-size: 1.5vw;
}

.paddle-board--container-score {
   margin-right: 1%;
 }

.paddle-board--full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

canvas {
  border-radius: 10px;
  border: solid #000000;
  cursor: none;
} 

.best-score {
  margin-top: 2%;
  font-size: 2vw;
}

.paddle-board--buttons button {
  width: 15vw;
  margin: 2%;
}

.paddle-board--buttons {
  display: flex;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.paddle-board--buttons--narrow {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 2%;
  font-size: 2vw;
} 

.paddle-board--buttons--wide {
  display: none;
}

.start-stop--narrow {
  display: block;
} 

.start-stop--wide {
  display: none;
}

@media (min-width: 768px) {
  .paddle-board--buttons--narrow {
    display: none;
  } 

  .paddle-board--buttons--wide {
    display: flex;
    align-items: center;
  }

  .start-stop--narrow {
    display: none;
  } 

  .start-stop--wide {
    display: block;
    margin: 2%;
    width: 15vw;
    font-size: 1vw;
  }

  .btn-dark {
    width: 15vw;
    font-size: 1vw;
  }
}