.App {
  text-align: center;
  align-items: center;
}

.nav {
  justify-content: center;
  font-size: 1.5vw;
}

.nav-link {
  color:#4B515D;
}

.nav-link:hover {
  background-color:gainsboro;
  color: black;
}


@media (min-width: 1440px) {
  .nav {
    font-size: 1vw;
  }
}

