.settings {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-top: 2%;
  color:#4B515D;
  font-size: 2vw;
}

.box-settings {
  width: 80%;
  border: solid gainsboro 3px;
}

.settings-title {
  width: 100%;
  text-align: center;
  background:gainsboro;
  font-weight: 600;
}

.settings-buttons {
  display: flex;
  align-items: center;
  margin: 2%;
  color:#4B515D;
  font-size: 2vw;
}

.settings-buttons img {
  width: 6vw;
  height: 4vw;
  margin: 2%;
}

.settings p {
  margin-top: 2%;
  margin-bottom: 0%;
  text-align: center;
  font-weight: 500;
}

Form {
  margin: 2%;
  font-size: 2vw;
}